<div class="description">
    <h1>New Project</h1>
    <h3>Add new project and start to work!</h3>
    <a class="button" href="/">Show All</a>
    
</div>
<div class="addNew">
    <form name="addNew" method="post">
        <fieldset>
            <label class="label_style" for="categorie">Project Name</label> 
            <input class="input_style" type="text" name="categorie" id="categorie">
        </fieldset>
        <fieldset>
            <label class="label_style" for="categorie">Project Name</label> 
            <textarea class="input_style text_area" name="description_categorie" id="description_categorie" cols="30" rows="10"></textarea>
        </fieldset>
        <button type="submit">Add Project</button>
    </form>
</div>